.custom-button {
    padding: 8px 18px;
    border: 2px solid #006633;
    background-color: #006633;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #005229;
  }